body, html{
  height:100%;
}
body{
  margin: 0px;
  background: url(assets/background.jpg) no-repeat;
  background-size: cover;
  background-position: 0 -300px;
  font-size: 18px;
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton, .lineUpButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.content{
  height: 80%;
  width: 90%;
  margin: auto;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.green{
  border:10px solid green;
  border-radius:10px;
  position:absolute;
}
.yellow{
  border:10px solid yellow;
  border-radius:10px;
  position:absolute;
}
.elf{
  height: 100px;
  width: 100px;
  background: url(assets/elf.png) no-repeat;
  position: absolute;
}
.snowman{
  height: 100px;
  width: 100px;
  background: url(assets/snowman.png) no-repeat;
  position: absolute;
}
.gift{
  height: 140px;
  width: 105px;
  background: url(assets/gift.gif) no-repeat;
  position: absolute;
}
.grinch{
  height: 150px;
  width: 150px;
  background: url(assets/grinch.gif) no-repeat;
  position: absolute;

}
.ginger{
  height: 150px;
  width: 150px;
  background: url(assets/ginger.gif) no-repeat;
  position: absolute;

}
.badsnowman {
  height: 140px;
  width: 105px;
  background: url(assets/badsnowman.gif) no-repeat;
  position: absolute;
}
.nice-banner{
  background: green;
  position: absolute;
}
.naughty-banner{
  background: red;
  color: black;
  position: absolute;
}
